{% extends "App1/index.html"%}



{% block Titulo %}
<div class="masthead-subheading">Acerca de mi</div>

{% endblock Titulo %}

{% block contenido %}
<p><h2>Esta página cuenta Acerca del proyecto Dir-t Sauce.</h2></p>
<br>
<p>Mi nombre es Roberto Espinoza, actualmente me encuentro realizando el proyecto final para el curso de python que trata sobre la creación de una plataforma de uso interno para una idea de negocio real que espero llevar a cabo en un futuro cercano.</p>
<br>
<p>Dir-t Sauce es un sistema web desarrollado con Django que permite gestionar las ventas, el inventario, los clientes y el stock de un set de productos, en este caso, salsas. El objetivo es que se pueda realizar un seguimiento de las ventas, mantener actualizado el inventario, administrar la información de los clientes y gestionar el stock de las salsas de manera eficiente
</p>
<p>
    Hablando un poco más sobre mí, me apasiona el mundo de la programación. En mi trabajo actual en el área financiera de una empresa, el manejo efectivo de datos se ha vuelto imprescindible. Realizar este curso ha sido de gran ayuda y crear esta página es un gran logro para mí.
    
    </p>
{% endblock contenido %}